body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #413b35;
  }
  
  .navbar {
    background: rgba(48, 45, 42, 0.85);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
    margin: 2rem auto;
    padding: 1rem 2rem;
    max-width: 1400px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-logo {
    font-size: 1.5rem;
    color: #f5c979;
    font-weight: bold;
    letter-spacing: 2px;
    margin-right: 2rem; /* <<< HIER Abstand eingefügt */
    display: flex;
    align-items: center;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li a {
    text-decoration: none;
    color: #f5c979;
    font-size: 1rem;
    transition: color 0.3s;
  }
  
  .navbar-links li a:hover {
    color: #ffffff;
  }
  